build --cxxopt=-std=c++20
# build --copt=-g
# build:lto --cxxopt=-flto --linkopt=-flto
# build --subcommands
build --compilation_mode=opt # fastbuild dbg opt

build:gcc_config --per_file_copt=workflow//*@-Wno-maybe-uninitialized,-Wno-unused-result

build:memcheck --run_under='valgrind --leak-check=full --error-exitcode=1 '

# uncomment next line to use gnu readline in some examples
# build --define use_gnu_readline=true
