BasedOnStyle: LLVM
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: false
  AfterControlStatement: MultiLine
  AfterEnum: false
  AfterExternBlock: false
  AfterFunction: true
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: false
  BeforeWhile: false

AccessModifierOffset: -4
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: Inline
AllowShortLambdasOnASingleLine: Inline
AlignAfterOpenBracket: Align

BreakTemplateDeclarations: Yes
BreakAfterAttributes: Leave
PenaltyBreakAssignment: 100
PenaltyBreakBeforeFirstCallParameter: 100
SpaceAfterTemplateKeyword: false

SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterRequiresInClause: true

ColumnLimit: 80
EmptyLineBeforeAccessModifier: LogicalBlock
IndentAccessModifiers: false
IndentWidth: 4
IndentWrappedFunctionNames: false
InsertNewlineAtEOF: true
PointerAlignment: Right
