name: CI on CentOS Stream 9

on:
  workflow_dispatch:

env:
  wf_tag: v0.11.5

jobs:
  build-centos-stream9:
    name: centos-stream9
    runs-on: ubuntu-24.04
    container:
      image: quay.io/centos/centos:stream9
    strategy:
      matrix:
        compiler_prepare: [
          "export CC=gcc CXX=g++",
          "export CC=clang CXX=clang++"
        ]
    steps:
    - name: Prepare
      run: |
        dnf install -y epel-release
        dnf install -y gcc gcc-c++ openssl openssl-devel \
          clang git cmake valgrind gtest-devel
    - uses: actions/checkout@v4
    - uses: actions/checkout@v4
      with:
        repository: sogou/workflow
        ref: ${{ env.wf_tag }}
        path: workflow
    - name: Build
      run: |
        ${{ matrix.compiler_prepare }}
        cmake -S workflow -B build.workflow -D CMAKE_CXX_STANDARD=20
        make -C workflow -j 8
        cmake -S . -B build -D Workflow_DIR=workflow \
          -D COKE_ENABLE_TEST=1 -D COKE_ENABLE_EXAMPLE=1 \
          -D COKE_ENABLE_BENCHMARK=1
        make -C build -j 8 all test
