name: CI on Fedora

on:
  pull_request:
    branches:
    - master
  workflow_dispatch:

env:
  wf_tag: v0.11.11

jobs:
  build-fedora:
    name: fedora-43
    runs-on: ubuntu-24.04
    container:
      image: fedora:43
    steps:
    - name: Prepare
      run: |
        sudo dnf install -y gcc gcc-c++ openssl openssl-devel \
          gtest gtest-devel valgrind git cmake
    - uses: actions/checkout@v4
    - uses: actions/checkout@v4
      with:
        repository: sogou/workflow
        ref: ${{ env.wf_tag }}
        path: workflow
    - name: Build
      run: |
        cmake -S . -B build.cmake \
          -DCOKE_WORKFLOW_SRC_DIR=workflow \
          -DCMAKE_CXX_STANDARD=20 \
          -DCOKE_BUILD_STATIC=ON \
          -DCOKE_BUILD_SHARED=ON \
          -DCOKE_ENABLE_TEST=ON \
          -DCOKE_ENABLE_EXAMPLE=ON \
          -DCOKE_ENABLE_BENCHMARK=ON
        cmake --build build.cmake -j 8
        ctest --test-dir build.cmake/test -j 4
