name: CI on macOS

on:
  push:
    branches:
    - 'dev*'
  pull_request:
    branches:
    - master
  workflow_dispatch:

env:
  wf_tag: v0.11.11

jobs:
  build-macos-15:
    name: macos-15
    runs-on: macos-15
    steps:
    - name: Prepare
      run: |
        brew install googletest
    - uses: actions/checkout@v4
    - uses: actions/checkout@v4
      with:
        repository: sogou/workflow
        ref: ${{ env.wf_tag }}
        path: workflow
    - name: Build
      run: |
        cmake -Wno-dev -S . -B build.cmake \
          -DCOKE_WORKFLOW_SRC_DIR=workflow \
          -DCMAKE_C_COMPILER=clang \
          -DCMAKE_CXX_COMPILER=clang++ \
          -DCMAKE_CXX_STANDARD=20 \
          -DCOKE_BUILD_STATIC=ON \
          -DCOKE_BUILD_SHARED=ON \
          -DCOKE_ENABLE_TEST=ON \
          -DCOKE_ENABLE_EXAMPLE=ON \
          -DCOKE_ENABLE_BENCHMARK=ON
        cmake --build build.cmake -j 8
        ctest --test-dir build.cmake/test -j 1 --output-on-failure
